:root {
    --norm: antiquewhite;
    --bright: rgb(177, 6, 6);
}
  
.hide {
    display: none;
}

input {
    width: 250px;
    height: 30px;
    border-radius: 8px;
}
button {
    color: white;
    font-weight: bold;
    width: 250px;
    height: 20px;
    border-radius: 8px;
    border: none;
    background: var(--bright);
    position: relative;
}
h1, h2, h3 {
    color: var(--bright);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#signup, #login, #homes, #reg-page, #edit-rec {
    text-align: center;
}
#debtors div, #users-dis div {
    width: 80%;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: var(--norm);
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.spin {
    animation: rot 1s infinite;
    position: absolute;
    display: inline-block;
    top: 3%;
}
@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.back {
    width: 85px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: rgb(184, 180, 175);
    box-shadow: 0 0 10px;
    position: fixed;
    top: 11%;
    left: 3%;
    z-index: 500;
}
.back:hover {
     width: 85px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: rgb(222, 213, 200);
    box-shadow: 0 0 10px;
}

.create-new {
    background-color: var(--bright);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 64px;
    border: none;
    position: fixed;
    top: 70%;
    left: 75%;
    box-shadow: 0 0 10px;
    z-index: 100;
}
#create-nes {
left: 10%;
}

textarea {
    width: 250px;
    height: 100px;
}

#inp-cus {
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: none;
    text-align: center;
    outline: none;
    color: var(--bright);
    font-weight: bold;
}
#plans div {
    border-radius: 8px;
    border: 1px solid grey;
    background-color: white;
    text-align: center;
    width: 100px;
}
#plans {
    width: 250px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
#debtors {
    position: relative;
    text-align: center;
}
.back {
    background-color: var(--norm);
    color: black;
    width: 85px;
    box-shadow: 0 0 10px;
}
#message-box {
    width: 96%;
    height: 47px;
    background-color: var(--norm);
    position: fixed;
    border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    border: none;
    box-shadow: 0 0 10px;
    display: none;
     text-align: center;
     z-index: 1000;
}
.show {
    animation: showup 1s;
}

.close {
    animation: showdown 1s;
}

@keyframes showup {
    0% {
        height: 0px;
    }
    100% {
        height: 47px;
    }
}
  
@keyframes showdown {
    0% {
        height: 47px;
    }
    100% {
        height: 0px;
    }
}
  

.recs, .ids {
    width: 190px;
    background-color: var(--bright);
    color: white;
    border-radius: 8px;
    min-height: 100px;
    margin: 0px 40%;
    padding: 5px;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.ids {
 background: var(--norm);
 color: black;
}
#vevs, #vevs div {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#vevs {
    display: none;
    position: fixed;
    background: var(--norm);
    width: 95%;
    z-index: 700;
    top: 0%;
}

#wid {
width: 150px;
}

.time-dispe {
    color: grey;
      width: 190px;
    text-align: right;
}
.date-dis {
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bold;
}
  .load1 {
    border-radius: 64px; /*makes the container circular*/
    border: none;
    background-color: rgba(129, 125, 125, 0);
    width: 80px;
    height: 80px;
    position: fixed;
    left: 40%;
    top: 30%;
    z-index: 900;
  }
  .load1 span {
 border-radius: 64px;
 height: 50px;
 width: 50px;
 position: absolute;
 margin: 6%;
 border: 11px solid var(--bright);
 border-bottom: 11px solid  rgba(129, 125, 125, 0);
 animation: rot 2s infinite;
  }
  @keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }

  #loaders {
    width: 100%;
    display: none;
    height: 100vh;
    background: rgba(129, 125, 125, 0.3);
    position: fixed;
    z-index: 850;
  }
  .OTP {
    width: 50px;
    height: 50px;
  }
  #otp-dis {
    display: flex;
    justify-content: space-between;
  }

  #har {
    width: 250px;
    height: 200px;
  }
  #error-b {
    font-size: 120px;
    color: var(--bright);
    font-family: roboto, Georgia, 'Times New Roman', Times, serif;
  }

  
 @media only screen and (min-width: 1025px) {
     .load1 {
    border-radius: 64px; /*makes the container circular*/
    border: none;
    background-color: rgba(129, 125, 125, 0);
    width: 180px;
    height: 150px;
    position: fixed;
    left: 45%;
    top: 30%;
  }
  .load1 span {
 border-radius: 64px;
 height: 90px;
 width: 90px;
 position: absolute;
 margin: 6%;
 border: 11px solid var(--bright);
 border-bottom: 11px solid  rgba(129, 125, 125, 0);
 animation: rot 2s infinite;
  }

  input {
    width: 270px;
    height: 35px;
    border-radius: 8px;
}
button {
    color: white;
    font-weight: bold;
    width: 260px;
    height: 25px;
    border-radius: 8px;
    border: none;
    background: var(--bright);
}
input:hover, textarea:hover {
    background: rgb(212, 207, 207);
}
button:hover {
    background: rgb(122, 9, 9);
    width: 270px;
    height: 30px;
 }
 
.recs, .ids {
    width: 250px;
    background-color: var(--bright);
    color: white;
    border-radius: 8px;
    min-height: 100px;
    margin: 0px 75%;
    padding: 5px;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.create-new:hover {
    background-color:  rgb(98, 7, 7);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 64px;
    border: none;
    position: fixed;
    top: 70%;
    left: 75%;
    box-shadow: 0 0 10px;
}
  }
